
.nav{
  background-color: skyblue;
  height: 20vh;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: white;
}
.formcontainer{
  background-color:rgb(218, 218, 90);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
button{
  border-radius: 5px;
  border-color: white;
  color: white;
  background-color: green;

  margin-left: 5px;
}
button:hover{
  font-weight: bolder;
  cursor: pointer;
}
input{
  border-radius: 7px;
  border-color: white;
  margin-left: 4px;
}